{
  \"kind\": \"Node\",
  \"apiVersion\": \"v1\",
  \"metadata\": {
    \"name\": \"${EDGE_NAME}\",
    \"labels\": {
      \"name\": \"${EDGE_NAME}\",
      \"node-role.kubernetes.io/edge\": \"\"
      }
    },
  \"spec\": {
     \"taints\": [
        {
          \"effect\": \"NoExecute\",
          \"key\": \"edgefarm.applications\"
        }]
    }
}
